.avatar-1BDn8e[src*="532709351887077385"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "";
  width: 14px;
  background-position: left, right;
  background-image: url('https://i.imgur.com/JLDXywu.png');
}
.avatar-1BDn8e[src*="532709351887077385"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "";
  background-image: url('https://i.imgur.com/JLDXywu.png') !important;
  background-color: transparent !important;
  padding: 0 !important;
  transform: none!important;
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 14px;
  background-position: left, right;
  top: 2px;
  margin-left: 5px
}

.avatar-1BDn8e[src*="115436821365653506"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "";
  width: 14px;
  background-position: left, right;
  background-image: url('https://i.imgur.com/JLDXywu.png');
}
.avatar-1BDn8e[src*="115436821365653506"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "";
  background-image: url('https://i.imgur.com/JLDXywu.png') !important;
  background-color: transparent !important;
  padding: 0 !important;
  transform: none!important;
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 14px;
  background-position: left, right;
  top: 2px;
  margin-left: 5px
}




.avatar-1BDn8e[src*="593970052521525248"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "";
  width: 14px;
  background-position: left, right;
  background-image: url('https://i.imgur.com/XSstjRO.png');
}
.avatar-1BDn8e[src*="593970052521525248"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "";
  background-image: url('https://i.imgur.com/XSstjRO.png') !important;
  background-color: transparent !important;
  padding: 0 !important;
  transform: none!important;
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 14px;
  background-position: left, right;
  top: 2px;
  margin-left: 5px
}

.avatar-1BDn8e[src*="396539295936151552"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  content: "";
  width: 14px;
  background-position: left, right;
  background-image: url('https://i.imgur.com/iylBX90.png');
}
.avatar-1BDn8e[src*="396539295936151552"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "";
  background-image: url('https://i.imgur.com/iylBX90.png') !important;
  background-color: transparent !important;
  padding: 0 !important;
  transform: none!important;
  display: inline-block;
  height: 14px;
  width: 14px;
  line-height: 14px;
  background-position: left, right;
  top: 2px;
  margin-left: 5px
}
